CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
libavcodec/parser_list.c
libavformat/demuxer_list.c

.file*
build
.stamp_*
.applied_patches_list

*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.d
*.a
*.pyc
*.swp
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

tags
TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found
