menu "Hichip Libs"
source "viddriver/Kconfig"
source "auddriver/Kconfig"
source "libacodec/Kconfig"
source "libswxf/Kconfig"
source "libswisp/Kconfig"
source "libswtwill/Kconfig"
source "mipidriver/Kconfig"
source "hctinyplayer/Kconfig"
source "ffplayer/Kconfig"
source "lnxporting/Kconfig"
source "usbdriver/Kconfig"
source "mmcdriver/Kconfig"
source "libntfs/Kconfig"
source "libtoe/Kconfig"
source "libdsc/Kconfig"
source "libge/Kconfig"
source "ddrinit/Kconfig"
source "libws2811/Kconfig"
source "display/Kconfig"
source "libefuse/Kconfig"
source "rtl8188fu/Kconfig"
source "rtl8188eu/Kconfig"
source "rtl8811cu/Kconfig"
source "rtl8733bu/Kconfig"
source "rtl8822cs/Kconfig"
source "rtl8723as/Kconfig"
source "rtl8723bs/Kconfig"
source "ecr6600u/Kconfig"
source "rtl8733bs/Kconfig"
source "wpa_supplicant/Config.in"
source "wireless_tools/Config.in"
source "hotspot/Config.in"
source "libhidalgo/Kconfig"
endmenu
