menuconfig CONFIG_CMDS_OS
	bool "OS operations"
	default n

if CONFIG_CMDS_OS
source "os/Kconfig"
endif

config CONFIG_CMDS_PTHREAD
	bool "pthread operations"
	depends on BR2_PACKAGE_PTHREAD
	default n

menuconfig CONFIG_CMDS_NSH
	bool "Nsh operations"
	default n

if CONFIG_CMDS_NSH
source "third_party/nuttx/apps/nshlib/Kconfig"
endif

menuconfig CONFIG_CMDS_SOUND_TEST
	bool "sound test operations"
	default n

if CONFIG_CMDS_SOUND_TEST
source "sound_test/Kconfig"
endif

config CONFIG_CMDS_LSMOD
	bool "lsmod operations"
	default y

menuconfig CONFIG_CMDS_ADC_TEST
	bool "adc test operations"
	default n

if CONFIG_CMDS_ADC_TEST
source "saradc/Kconfig"
endif

config CONFIG_CMDS_FB_TEST
	bool "fb test operations"
	default n

config CONFIG_CMDS_INPUT
	bool "input event operations"
	depends on CONFIG_DRV_INPUT
	default n

if CONFIG_CMDS_INPUT
source "input_event/Kconfig"
endif

config CONFIG_CMDS_MTD
	bool "mtd operations"
	depends on CONFIG_MTD
	default n

config CONFIG_CMDS_SPI
	bool "spi operations"
	depends on CONFIG_HC_SPI_SF || CONFIG_HC_SPI_MASTER
	default n

if CONFIG_CMDS_SPI
	choice
        prompt "Test spi controller"
	default TEST_SPI_SF

        config TEST_SPI_SF
                bool "test spi-sf"
        config TEST_SPI_MASTER
                bool "test spi-master"
	config TEST_SPI_GPIO
		bool "test spi-gpio"

	endchoice

source "spi/Kconfig"
endif


config CONFIG_CMDS_PERSISTENTMEM
	bool "persistent memory operations"
	depends on CONFIG_DRV_PERSISTENTMEM
	default n

config CONFIG_CMDS_POK_TEST
	bool "pok test operations"
	default n

config CONFIG_CMD_UART
	bool "uart test operations"
	default n

config CONFIG_CMDS_WATCHDOG_TEST
	bool "watchdog test operations"
	default n

config CONFIG_CMDS_EFUSE_DUMP
	bool "Efuse bits dump operations"
	default n

config CONFIG_CMDS_PQ
	bool "PQ test operations"
	default n

config CONFIG_CMDS_DIS
	bool "Display debugging"
	default n

config CONFIG_CMDS_HCFOTA
	bool "HCFOTA test operations"
	select BR2_PACKAGE_HCFOTA
	default n

config CONFIG_CMDS_STANDBY
	bool "standby test operations"
	default n

config CONFIG_CMDS_RTWPRIV
	bool "config rtwpriv"
	default n

config CONFIG_CMDS_IPERF3
	bool "config iperf3"
	default n

config CONFIG_CMDS_WS2811
	bool "ws2811 test operations"
	select BR2_PACKAGE_PREBUILTS_LIBWS2811
	default n

config CONFIG_CMDS_SORTING
       bool "sorting test operations"
       select BR2_PACKAGE_PREBUILTS_LIBSORTING
       default n

if CONFIG_CMDS_SORTING
source "sorting/Kconfig"
endif

menuconfig CONFIG_CMDS_USB
	bool "USB setting operations"
	default n

if CONFIG_CMDS_USB
source "usb/Kconfig"
endif

config CONFIG_CMDS_VIN_DVP
bool "vin dvp test operations"
default n

config CONFIG_CMDS_PWM
bool "pwm test"
default n

config CONFIG_CMDS_WIFI
	bool "wifi test"
	select BR2_PACKAGE_PREBUILTS_WIFI_WIRELESS_TOOLS
	default n

if CONFIG_CMDS_WIFI
config CONFIG_CMDS_UPDATE_MAC_ADDR
	bool "wifi mac addr updating test"
	default n
endif

config CONFIG_CMD_NETWORK
	bool "Network test commands"
	default n
	depends on BR2_PACKAGE_LIBCURL

menuconfig CONFIG_CMD_UNITY
        bool "Unity test entry"
	depends on BR2_PACKAGE_UNITY
	default n

if CONFIG_CMD_UNITY
config CONFIG_CMD_UNITY_DUMMY_CASES
        bool "Dummy unity test cases"
	default n
endif

config CONFIG_CMDS_RTC_AT8536
	bool "rtc at8536 test operations"
	default n

menuconfig CONFIG_CMD_UPGRADE_5100
	bool "5100 upgrade"
	default n

if CONFIG_CMD_UPGRADE_5100
choice
        prompt "5100 upgarde mode"
        default CONFIG_5100_UART_UPGARDE

        config CONFIG_5100_UART_UPGARDE
                bool "uart mode"

        config CONFIG_5100_I2C_UPGARDE
                bool "i2c mode"
endchoice
endif

config CONFIG_CMD_LCD_TEST
	bool "lcd test"
	default n

config CONFIG_CMD_MKGPT
	bool "mkgpt"
	default n

config CONFIG_CMD_DDR_MONITORING
	bool "DDR usage monitoring"
	default n

config CONFIG_CMDS_SQLITE
	bool "sqlite test"
    select BR2_PACKAGE_SQLITE
	default n
