menu "Components"

config CONFIG_PREBUILT_SUBDIR
	string "Prebuilt subdir"
source "prebuilts/Kconfig"

source "applications/Kconfig"
source "libssp/Kconfig"
source "newlib/Kconfig"
source "kernel/Kconfig"
source "cmds/Kconfig"
source "pthread/Kconfig"
source "ffmpeg/Kconfig"
source "hc-examples/Kconfig"
source "opencore-amr/Kconfig"
source "libusb/Kconfig"
source "libuvc/Kconfig"
source "libuac/Kconfig"
source "hcfota/Kconfig"
source "liblvgl/Kconfig"
source "bluetooth/Kconfig"
source "quicklz/Kconfig"
source "liblzo/Kconfig"
source "zlib/Kconfig"
source "libopenssl/Kconfig"
source "mbedtls/Kconfig"
source "cjson/Kconfig"
source "hccast/Kconfig"
source "libcurl/Kconfig"
source "unity/Kconfig"
source "memtester/Kconfig"
source "freetype/Kconfig"
source "pcre/Kconfig"
source "speex/Kconfig"
source "libev/Kconfig"
source "wolfssl/Kconfig"
source "opus/Kconfig"
source "hudi/Kconfig"
source "libwebsockets/Kconfig"
source "hctinyplayer-registry/Kconfig"

menu "Host utilities"
source "dtc/Config.in.host"
source "uboot-tools/Config.in.host"
source "lzo1x/Config.in.host"
source "m4/Config.in.host"
source "libtool/Config.in.host"
source "automake/Config.in.host"
source "autoconf/Config.in.host"
endmenu

source "hclib/Kconfig"
source "sqlite/Kconfig"

endmenu
