menuconfig BR2_PACKAGE_APPS_PROJECTOR
	bool "projector"
	select BR2_PACKAGE_PREBUILTS_LIBGE
	select BR2_PACKAGE_LIBLVGL
	select BR2_PACKAGE_PREBUILTS_LIBLRBALANCE
	select BR2_PACKAGE_PREBUILTS_LIBTWOTONE
	select BR2_PACKAGE_PREBUILTS_SPECTRUM
	select BR2_PACKAGE_HUDI
	select BR2_PACKAGE_HUDI_SCREEN

if BR2_PACKAGE_APPS_PROJECTOR
source "source/Kconfig"
endif
