menuconfig BR2_PACKAGE_HCCAST
	bool "hccast"
	default n
	select BR2_PACKAGE_HUDI
	select BR2_PACKAGE_HUDI_VIDEO
	select BR2_PACKAGE_HUDI_AUDIO
	select BR2_PACKAGE_HUDI_DISPLAY
	select BR2_PACKAGE_HUDI_AVSYNC
	select BR2_PACKAGE_HUDI_DSC
	select BR2_PACKAGE_PREBUILTS_LIBEFUSE
	help
	  Hichip screen casting middleware and simple demo application

if BR2_PACKAGE_HCCAST

config BR2_PACKAGE_HCCAST_NET
	bool "Wi-Fi MGR & DHCP"
	default n
	help
	  Support Wi-Fi Manager and DHCP server/client API

config BR2_PACKAGE_HCCAST_WIRELESS
	bool "Wireless casting"
	default n
	select BR2_PACKAGE_HCCAST_NET
	help
	  Support Wireless casting API, DLNA/Miracast/Aircast
	  
if BR2_PACKAGE_HCCAST_WIRELESS

config BR2_PACKAGE_HCCAST_AIRCAST
	bool "Aircast"
	default y
	select CONFIG_SPI_SPIDEV
	select CONFIG_DRV_SPI
	select BR2_PACKAGE_WOLFSSL

if BR2_PACKAGE_HCCAST_AIRCAST

config BR2_PACKAGE_HCCAST_AIRCAST_MIRROR_ONLY
	bool "Air-mirror only"
	default n
	help
	  Support Aircast only support screen mirrorring mode

config BR2_PACKAGE_HCCAST_AIRP2P_SUPPORT
	bool "Airp2p"
	default n
	select CONFIG_NET_LWIP_IPV6
	select CONFIG_LWIP_TCP_SACK_OUT
	select CONFIG_LWIP_TCP_TIMESTAMPS
	select CONFIG_NET_SKB_HEAD_RESERVE
	help
	  Support Airp2p	  

endif

config BR2_PACKAGE_HCCAST_MIRACAST
	bool "Miracast"
	select BR2_PACKAGE_WOLFSSL
	default y

config BR2_PACKAGE_HCCAST_DLNA
	bool "DLNA"
	default y

if BR2_PACKAGE_HCCAST_DLNA

config BR2_PACKAGE_HCCAST_DIAL
    bool "DIAL"
    select BR2_PACKAGE_PREBUILTS_LIBYOUTUBE
    select BR2_PACKAGE_HCCAST_IPTV
    default n
    help
      support yt dial cast

endif

endif

config BR2_PACKAGE_HCCAST_USBMIRROR
	bool "USB mirrorring"
	default n
	select CONFIG_DRV_SPI
	select CONFIG_SPI_SPIDEV
	select BR2_PACKAGE_WOLFSSL
	help
	  Support IUM & AUM

if BR2_PACKAGE_HCCAST_USBMIRROR

config BR2_PACKAGE_HCCAST_USBMIRROR_SLAVE
	bool "Slave mode support"
	default n
	help
	  Support usb device mode

endif

config BR2_PACKAGE_HCCAST_IPTV
	bool "IPTV porting layer"
	default n
	help
	  Support IPTV API

endif
